<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>hi!</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <p id="demo2">
    hello

  </p>
  <button class="btn btn-default" type="button" onclick="myFunction2()">
    yay
  </button>


  <div id="bb8-image" style = "padding-top: 50px;" />

</body>

</html>
